{% extends "base.html" %}

{% block body_block %}

    <table>
        <tr>
            <th>Product</th>
            <th style="padding: 0 50px">Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td style="padding: 0 70px">{{ item.quantity }}</td>
            <td style="padding: 0 20px">{{ item.total_price }}</td>

            <td style="padding: 0 20px"><form method="POST" action="/app/allproducts/remove/">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ item.object_id }}">
                <button type="submit">remove</button>
        </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <h5><a href="/app/allproducts">go back</a></h5>
{% endblock %}



